.profile-nav--flex {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.profile-nav--flex .button {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: var(--text-black);
    border: none;
    cursor: pointer;
}

.profile-nav-list {
    display: flex;
}

.profile-nav-item:not(:last-of-type) {
    margin-right: 32px;
}

.profile-nav-button--no-border {
    width: fit-content;
    height: 26px;
    background-color: inherit;
}

.profile-nav-button--no-border:hover {
    border-bottom: 2px solid var(--primary-yellow);
}

.profile-nav-button--yellow {
    width: 273px;
    height: 62px;
    border-radius: 10px;
    background-color: var(--primary-yellow);
}

.profile-nav-button--yellow:hover {
    color: #FFFFFF;
}