.header {
    height: 88px;
}

.header--row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-button {
    background-color: inherit;
    cursor: pointer;
}

.header-button--yellow {
    width: 225px;
    height: 54px;
    margin-right: 28px;
    border: 2px solid var(--primary-yellow);
    border-radius: 10px;
    font-size: 20px;
    color: var(--primary-yellow);
}

.header-button--yellow:hover {
    background-color: var(--primary-yellow);
    color: #FFFFFF;
}

.header-button--no-border {
    padding-left: 25px;
    border: none;
    font-size: 16px;
    background-image: url("../../../assets/icons/profile-icon.svg");
    background-repeat: no-repeat;
}