@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito:wght@400;600;700&display=swap');

:root {
    --primary-yellow: #FFBC01;
    --text-black: #181818;
    --text-grey: #494949;
    --background-grey: #F7F7F7;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

