@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito:wght@400;600;700&display=swap');

:root {
    --primary-yellow: #FFBC01;
    --text-black: #181818;
    --text-grey: #494949;
    --background-grey: #F7F7F7;
    --icon-grey: #DADADA
}

* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding-inline-start: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    margin: 0 auto;
    width: 1224px;
}

.text--yellow {
    color: var(--primary-yellow);
}

.button--yellow-border {
    margin-right: 28px;
    background-color: #FFFFFF;
    border: 2px solid var(--primary-yellow);
    border-radius: 10px;
    font-size: 20px;
    color: var(--primary-yellow);
    cursor: pointer;
}

.button--yellow-border:hover {
    background-color: var(--primary-yellow);
    color: #FFFFFF;
}

.button--yellow-background {
    border: none;
    border-radius: 10px;
    background-color: var(--primary-yellow);
    color: var(--text-black);
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    cursor: pointer;
}

.button--yellow-background:disabled {
    background-color: #DADADA;
}

.button--low {
    padding: 12px 32px;
}

.button--high {
    padding: 16px 32px;
}